.main-content {
  flex: 1;
  padding: 1rem;
}

.scores-section {
  font-family: "Gloria Hallelujah", cursive, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

.scores-section p:first-of-type {
  margin-bottom: 1rem;
}

.pictures-section {
  padding: 3rem 1rem 1rem 1rem;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.img-btn {
  padding: 1.5rem;
  overflow: hidden;
  isolation: isolate;
  position: relative;
  transition: transform .3s ease-out;
}

.gif-wrapper {
  max-width: 30rem;

  background: #fff;
  padding: 1rem;
  border: 3px solid #222;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
}

.caption-wrapper {
  position: absolute;
  padding: 0 1rem;
  width: 100%;
  left: 0;
  bottom: 0;
  transform: translateY(101%);
  opacity: 0;
  transition: all .2s ease-out;
}

.caption {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #fff9a8;
  border: 2px solid #222;
  border-radius: 6px 12px 10px 4px;
  font-family: 'Gloria Hallelujah', cursive, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  text-align: left;
  max-width: 28rem;
}

.img-btn:hover .caption-wrapper,
.img-btn:focus .caption-wrapper {
  transform: translateY(-1%);
  opacity: 1;
}

.img-btn:hover,
.img-btn:focus {
  transform: scale(1.05);
}

.img-btn:focus {
  outline: none;
}

.loader {
  font-family: 'Gloria Hallelujah', cursive, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 4rem;
}

.dot {
  display: inline-block;
  opacity: 0;
  transform: translateY(-40%) scale(2);
  animation: blink 1.5s infinite ease-in-out;
}

.dot:nth-child(2) {
  animation-delay: .3s;
}

.dot:nth-child(3) {
  animation-delay: .6s;
}

@keyframes blink {
  0%, 20% { 
    opacity: 0;
  }
  40% { 
    opacity: 1;
  }
  100% { 
    opacity: 0;
  }
}