.app {
  margin: 0 auto;
  padding: 1rem;
  max-width: 150rem;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.footer {
  font-family: "Gloria Hallelujah", cursive;
  display: grid;
}

.author {
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 800;
}

.footer .credits {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  min-height: 6rem;
  font-size: 1.6rem;
  gap: 1rem;
}

.footer a {
  color: blue;
  font-weight: 800;
}