.app {
  margin: 0 auto;
  padding: 1rem;
  max-width: 150rem;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

@media (max-width: 800px) {
  .logo-text {
    font-size: 3rem;
  }
}